{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="background"></div>    
    <div class="login-container">
    <div class="rounded-rectangle"></div>
    
    <div class="login">
        <div class="title_login">Register</div>
        <form action="#" method="post"> 
            <p><input type="text" name = "name" placeholder="Type your Username" style="width: 300px;" required></p>
            <p><input type="password" name = "pass" placeholder="Enter your password" style="width: 300px;" required></p>     
            <p><input type="submit" value="Submit" style="width: 100%;"></p>
            </form> 
        </div>
    </div>
    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            if (!event.target.checkValidity()) {
                event.preventDefault();
                alert('Please enter a valid Gmail address.');
            }
        });
    </script>
{% endblock %}
